include ../../../node_modules/bemto.jade/bemto.jade

include _header
include _logo
include _menu
include _footer
include _footer-upper
include _footer-bottom
include _preloader
include _promo
include _short-post
include _page-menu
include _post-link
include _post
include _user-card
include _user-page
include _info-list
include _share-box
include _case-tile
include _content-tile
include _download-link
include _socials
include _copyrights
include _post-one-column
