include ../../../node_modules/bemto.jade/bemto.jade

include _header
include _preloader
include _promo
include _short-post
include _page-menu
include _post-link
include _user-card
include _user-page
include _info-list
include _share-box
include _case-tile
include _content-tile
include _download-link
include _about