mixin b_case-tile(image, title, url)
	+b("a").case-tile(href=url)
		if image
			+e("span").image
				+e("img").image-i(src=image alt="")
		if title
			+e("span").title!= title
		+e("span").more Read more


