mixin b_header_menu()
	+b.menu-container
		+b("ul").menu.text-right
			+e("li").menu-item
				+e("a").menu-link(href="/").active About Us
			+e("li").menu-item
				+e("a").menu-link(href="/") Gallery
			+e("li").menu-item
				+e("a").menu-link(href="/") Services
			+e("li").menu-item
				+e("a").menu-link(href="/") Contacts
