mixin b_header()
	+b("header").header.container

		+b.col-xs-6
			+b_logo()

		+b.col-xs-6.text-right
			+b_header-menu([{'label': 'About Us', 'value': 'about-us'}, {'label': 'Gallery', 'value': 'gallery'}, {'label': 'Services', 'value': 'services'}, {'label': 'Contacts', 'value': 'contacts'}])
