mixin b_info-list(data)
	if data
		+b.info-list
			each item in data
				+e.item
					+e.title!= item.title
					+e.text
						if item.url
							+e("a").link(href=item.url)
								+e("span").link-label!= item.text
						else
							!= item.text