mixin b_menu(prefix, menuItems)
	+b.menu(class='menu-' + prefix)
		+e("ul").list
			each item in menuItems
				+e("li").item(class='menu-' + prefix + '__item')
					+e("a").link(href="#")= item.label
