mixin b_page-menu(activeMenuState)
	- classes = []
	if activeMenuState
		- classes.push(activeMenuState)
	+b.page-menu(class=classes)
		+e("ul").list
			each item in [{title: "News", url: "/news.html"}, {title: "Team", url: "/team.html"}, {title: "Cases", url: "/cases.html"}, {title: "Services", url: "/services.html"}]
				+e("li").list-item
					+e("a").link(href=item.url)= item.title

