mixin b_promo()
	+b("section").promo
		+e("video").video(type="video/mp4")
			source(src="http://tmp.static.se7enapp.com/great/1.mp4")
		+e.footer
			+e.timer
				svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 30 30', enable-background='new 0 0 30 30', width='30', height='30')
					style(type='text/css').
						.st0 {
							fill: none;
							stroke: #b12f35;
							stroke-width: 2;
							stroke-miterlimit: 10;
						}
					path.st0(d='M29 15c0 7.7-6.3 14-14 14s-14-6.3-14-14 6.2-14 14-14 14 6.3 14 14z')
				+e("span").timer-inner .00

			+e.skip skip
			+e.sound
				img(src="img/icon-sound.svg" alt="")
