mixin b_short-post()
	+b.short-post
		+e.title Threat intelligence report for the telecommunications industry
		+e.date August 22, 2016. 8:56 am
		+e.text The telecommunications industry keeps the world connected. Telecoms providers build, operate and manage the complex network infrastructures used for voice and data transmission – and they communicate and store vast amounts of sensitive data. This makes them a top target for cyber-attack.
		+e("a").link(href="/") securelist.com

