mixin b_socials()
	+b.socials-container
		+e('ul').list
			+e('li').item
				+e.a(href="javascript:void(0)")
					+e.img(src='img/fb.png')
			+e('li').item
				+e.a(href="javascript:void(0)")
					+e.img(src='img/vk.png')
			+e('li').item
				+e.a(href="javascript:void(0)")
					+e.img(src='img/twitter.png')
			+e('li').item
				+e.a(href="javascript:void(0)")
					+e.img(src='img/pinterest.png')
