mixin b_user-card(image, name, position, url)
	+b("a").user-card(href=url)
		if image
			+e("span").image
				+e("img").image-i(src=image alt="")
		if name
			+e("span").name!= name
		if position
			+e("span").position!= position
		if url
			+e("span").more Read more


