mixin b_user-page()
	+b.user-page
		+e.aside
			+e.image
				+e("img").image-i(src="img/user-photo-big.png" alt="")
			+e.back
				a.back-link(href="/team.html") Back to Team
		+e.body
			.scroll-wrap
				+e.content
					+e("h1").title Juan Andres <br>Guerrero-Saade
					+e.data
						+e.data-column
							+e.info
								each item in [{label: "Position", value: "Senior Security Researcher"}, {label: "At KasperskyLab", value: "2002"}, {label: "Twitter", link: {label: "@juanandres_gs", url: "https://twitter.com/juanandres_gs"} }]
									+e.info-item
										+e("span").info-label= item.label
										+e("span").info-value
											if item.value
												= item.value
											if item.link
												+e("a").info-link(href=item.link.url, target="_blank" rel="nofollow noopener")= item.link.label
						+e.data-column
							+e.share
								+b_share-box
					.rich-text
						p As far back as I remember there was always a computer in our home – at first a massive thing with a green screen, into which you put floppies to play Space Invaders or Tetris. My first experience with the Internet came when I was around 13 years old.
						p But what really attracted me to computer science in general and InfoSec in particular was the way a program – software – that had a single intended purpose could be made to do something totally different once control over it was seized. That just sparked my imagination. I found it fascinating and mysterious. And it made me want to investigate things like that further.
						.embed-responsive
							iframe(data-youtube-id='zdyDB8NDyss' frameborder="0" allowfullscreen)
						- infoList = [{title: "Cases", text: "Ferrari’s Choice for IT Security", url: "/"}, {title: "Events", text: "4th Latin American Security Analysts Summit in Cartagena", url: "/"}]
						+b_info-list(infoList)
