---
title: 'Cases'
preloaderText: 'For better experience we recommend <br /> you to turn on the sound'
preloaderImg: '/img/promo-bg.png'
activeMenuState: "page-menu_3"
---
extends layouts/_page

block content
	+b_case-tile("img/case-img-1.png", "Dark Hotel", "/")