---
title: 'Cases item'
preloaderText: 'For better experience we recommend <br /> you to turn on the sound'
preloaderImg: '/img/promo-bg.png'
pageMod: 'page_no-offset'
activeMenuState: "page-menu_3"
---
extends layouts/_page

block content
	.page__article
		.page__article-back
			a.back-link(href="/cases.html") Back to Cases
		.scroll-wrap
			.page__article-content.page__article-content_simple
				h1.page__article-title Dark Hotel
				.page__article-body
					.page__intro
						.page__intro-content
							.page__intro-title The Crime: Cyber-attackers infiltrate hotel Wi-Fi to steal secrets from senior execs
							.page__intro-subtitle Hostile hospitality
							.page__intro-text
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.page__intro-aside
							.page__intro-share
								+b_share-box
					.rich-text
						.embed-responsive
							iframe(data-youtube-id='zdyDB8NDyss' frameborder="0" allowfullscreen)
						+b.text-module
							+e("h2").title A Phony Flash
							+e.content
								+e.content-col
									+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								+e.content-col
									+e.image
										img(src="img/dark-hotel-logo.png" alt="/")
						blockquote Analysis of the malware showed that it was spyware, allegedly written by Korean-speaking hackers, and targeting core systems and guests in the infected hotels.
						+b.text-module
							+e.content
								+e.content-col
									+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								+e.content-col
									+e.image
										img(src="img/dark-hotel-poster.jpg" alt="/")
									+e.caption The hotel was full of shadows <br>and everything around felt sinister
						.embed-responsive
							iframe(data-youtube-id='zdyDB8NDyss' frameborder="0" allowfullscreen)
						blockquote He appeared to have reached a dead end. He knew that there should be more data out there: attack indicators would have been left in the IT-networks of the hotel, but his access to those networks was restricted.
