---
title: 'Index Page'
---
extends layouts/_layout

block main
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
	+post()
	+post('post_reverse')
