---
title: 'Index Page'
---
extends layouts/_layout

block main
	+post('', 'http://lorempixel.com/500/900/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/500/400/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/500/1200/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/500/1000/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/500/800/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/700/800/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/1500/1800/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/2500/800/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/500/1800/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/500/2800/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/500/3800/')
	+post('post_reverse')
	+post('', 'http://lorempixel.com/1500/2000/')
	+post('post_reverse')
