---
title: 'News'
preloaderText: 'For better experience we recommend <br /> you to turn on the sound'
preloaderImg: '/img/promo-bg.png'
activeMenuState: "page-menu_1"
---
extends layouts/_page

block content
	.posts-wrap(style="margin: 30px 0;")
		+b_short-post
	+b_post-link
	br
	a.btn.btn-bordered(href="/") Button bordered
	br
	br
	a.btn(href="/") Button default
	+b_about([{paragraph: 'BarberBatman Barbershop is, above all, a men’s vision of how one should spend their time.'}, {title: 'What is it?', paragraph: 'It’st a hair salon for those who appreciate exclusive service and attentive attitude while caring about their looks. Not only will you be offered classic haircuts, beard & mustache trims, straight razor shaves and hair care products at our place, but you will also feel our understanding and friendly attitude.'}, {title: 'What are we special?', paragraph: 'BarberBatman Barbershop was designed as a place where a man could not only have his hair cut or get a shave, but also take a break from the hustle and bustle and have a manly conversation over a glass of whisky.'}])