---
title: 'News'
preloaderText: 'For better experience we recommend <br /> you to turn on the sound'
preloaderImg: '/img/promo-bg.png'
activeMenuState: "page-menu_1"
---
extends layouts/_page

block content
	.posts-wrap(style="margin: 30px 0;")
		+b_short-post
	+b_post-link
	br
	a.btn.btn-bordered(href="/") Button bordered
	br
	br
	a.btn(href="/") Button default