---
title: 'Team intro'
preloaderText: 'For better experience we recommend <br /> you to turn on the sound'
preloaderImg: '/img/promo-bg.png'
pageMod: 'page_no-offset'
activeMenuState: "page-menu_2"
---
extends layouts/_page

block content
	.page__article
		.scroll-wrap
			.page__article-content
				h1.page__article-title We are
				.page__article-body.rich-text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
