---
title: 'Team user'
preloaderText: 'For better experience we recommend <br /> you to turn on the sound'
preloaderImg: '/img/promo-bg.png'
pageMod: 'page_no-offset'
activeMenuState: "page-menu_2"
---
extends layouts/_page

block content
	+b_user-page


