include ../partials/_mixins
include ../blocks/_all

doctype html
html
	head
		include ../partials/_head
		include ../partials/_meta

	body
		.header_container
			+b_header
		main.main
			block main

		block scripts
			script(src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
			script(type="text/javascript" src="js/app.js")
